<launch>
    <include file="$(find stdr_robot)/launch/robot_manager.launch" />

    <!-- 加载仿真环境的地图文件,下面几个选一个加载 -->
    <!-- <node type="stdr_server_node" pkg="stdr_server" name="stdr_server" output="screen" args="$(find stdr_diymap)/maps/home_expand_6px.yaml"/> -->
    <!-- <node type="stdr_server_node" pkg="stdr_server" name="stdr_server" output="screen" args="$(find stdr_diymap)/maps/home_scaffold.yaml"/> -->
    <!-- <node type="stdr_server_node" pkg="stdr_server" name="stdr_server" output="screen" args="$(find stdr_diymap)/maps/home.yaml"/> -->
    <node type="stdr_server_node" pkg="stdr_server" name="stdr_server" output="screen" args="$(find stdr_diymap)/maps/home_incomplete.yaml"/>

    <!-- static_transform_publisher格式: x y z yaw pitch raw 父 子 频率-->
    <!-- <node pkg="tf" type="static_transform_publisher" name="world2map" args="0 0 0 0 0 0  world map 100" /> -->

    <include file="$(find stdr_gui)/launch/stdr_gui.launch"/>

    <node pkg="stdr_robot" type="robot_handler" name="$(anon robot_spawn)" args="add $(find stdr_diymap)/robots/robot_lidar.yaml 8 28 0" />
</launch>
